---
import Layout from '../layouts/Layout.astro';
import RecipeContainer from '../components/RecipeContainer.astro';
import RecipeImage from '../components/RecipeImage.astro';
import RecipeMainInfo from '../components/RecipeMainInfo.astro';
import RecipePreparationTime from '../components/RecipePreparationTime.astro';
import RecipeIngredients from '../components/RecipeIngredients.astro';
import RecipeInstructions from '../components/RecipeInstructions.astro';
import RecipeNutritionFacts from '../components/RecipeNutritionFacts.astro';
import recipeImage from '/public/images/image-omelette.jpeg';
const times = [
  {
    title: 'Total',
    content: 'Approximately 10 minutes',
  },
  {
    title: 'Preparation',
    content: '5 minutes',
  },
  {
    title: 'Cooking',
    content: '5 minutes',
  },
];

const ingredients = [
  '2-3 large eggs',
  'Salt, to taste',
  'Pepper, to taste',
  '1 tablespoon of butter or oil',
  'Optional fillings: cheese, diced vegetables, cooked meats, herbs',
];

const instructions = [
  {
    title: 'Beat the eggs: ',
    content:
      'In a bowl, beat the eggs with a pinch of salt and pepper until they are well mixed. You can add a tablespoon of water or milk for a fluffier texture.',
  },
  {
    title: 'Heat the pan: ',
    content:
      'Place a non-stick frying pan over medium heat and add butter or oil.',
  },
  {
    title: 'Cook the omelette: ',
    content:
      'Once the butter is melted and bubbling, pour in the eggs. Tilt the pan to ensure the eggs evenly coat the surface.',
  },
  {
    title: 'Add fillings (optional): ',
    content:
      'When the eggs begin to set at the edges but are still slightly runny in the middle, sprinkle your chosen fillings over one half of the omelette.',
  },
  {
    title: 'Fold and serve: ',
    content:
      'As the omelette continues to cook, carefully lift one edge and fold it over the fillings. Let it cook for another minute, then slide it onto a plate.',
  },
  {
    title: 'Enjoy: ',
    content: 'Serve hot, with additional salt and pepper if needed.',
  },
];

const nutrition = [
  {
    name: 'Calories',
    value: '277kcal',
  },
  {
    name: 'Carbs',
    value: '0g',
  },
  {
    name: 'Protein',
    value: '20g',
  },
  {
    name: 'Fat',
    value: '22g',
  },
];
---

<Layout title='Recipe Page'> 
    <RecipeContainer>
        <RecipeImage imagePath={recipeImage.src} alt={"Omelette Recipe"}/>
        <main class="mx-8 md:mx-0 space-y-6">
            <RecipeMainInfo title={"Simple Omelette Recipe"} description={"An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked to perfection, optionally filled with your choice of cheese, vegetables, or meats."} />
            <RecipePreparationTime items={times}/>
            <RecipeIngredients ingredients={ingredients}/>
            <RecipeInstructions instructions={instructions}/>
            <RecipeNutritionFacts nutrition={nutrition}/>
        </main>
    </RecipeContainer>
</Layout>
